{{ $data := . | unmarshal  }}

<div class="about-table">
    <div class="about-table-row">
        <div class="about-table-col key">Wissenschaftlicher Name</div>
        <div class="about-table-col value">{{ $data.scientific_name}}</div>
    </div>
    <div class="about-table-row">
        <div class="about-table-col key">Bestätigte Art</div>
        <div class="about-table-col value">{{ $data.valid_name}}</div>
    </div>
    <div class="about-table-row">
        <div class="about-table-col key">Handels- und Trivialnamen</div>
        <div class="about-table-col value">
            {{if $data.trade_names}}
            <ul class="tradenames">
                {{range $data.trade_names }}
                    <li>{{.}}</li>
                {{end}}
            </ul>
            {{else}}
            {{end}}
        </div>
    </div>

    <div class="about-table-row">
        <div class="about-table-col key">Ausgewachsene Größe</div>
        <div class="about-table-col value">{{ $data.adult_size}}</div>
    </div>

    <div class="about-table-row">
        <div class="about-table-col key">Lebensweise</div>    
        <div class="about-table-col value">{{ $data.way_of_life}}</div>
    </div>
    <div class="about-table-row">
        <div class="about-table-col key">Verhaltensweise</div>    
        <div class="about-table-col value">{{ $data.behavior}}</div>
    </div>

    <div class="about-table-row">
        <div class="about-table-col key">Geschlechtsmerkmale</div>    
        <div class="about-table-col value">{{ $data.dimorphism}}</div>
    </div>
    <div class="about-table-row">
        <div class="about-table-col key">Anspruch</div>    
        <div class="about-table-col value">{{ $data.experience}}</div>
    </div>
    <div class="about-table-row">
        <div class="about-table-col key">Verfügbarkeit</div>    
        <div class="about-table-col value">{{ $data.availability}}</div>
    </div>

    <div class="about-table-row">
        <div class="about-table-col key">Klimazone</div>    
        <div class="about-table-col value">{{ $data.climate}}</div>
    </div>

    <div class="about-table-row">
        <div class="about-table-col key">Verbreitung</div>    
        <div class="about-table-col value">{{ $data.distribution}}</div>
    </div>

</div>
