{{ $data := . | unmarshal  }}

<div class="book-columns cs-wrap"><!--  flex flex-wrap  -->
    <div class="cs-column markdown-inner"><!-- flex-even-->
        <h3>Terrarienhaltung</h3>

        <div class="cs-entry">
            <div class="cs-key">Terrariengröße</div>    
            <div class="cs-value">{{ $data.terrarium_size}}</div>
        </div>
        <div class="cs-entry">
            <div class="cs-key">Belüftung</div>    
            <div class="cs-value">{{ $data.ventilation}}</div>
        </div>
        <div class="cs-entry">
            <div class="cs-key">Temperatur</div>    
            <div class="cs-value">{{ $data.temperature}}</div>
        </div>
        <div class="cs-entry">
            <div class="cs-key">Rel. Luftfeuchtigkeit</div>    
            <div class="cs-value">{{ $data.humidity}}</div>
        </div>
        <div class="cs-entry">
            <div class="cs-key">Humide/Aride Perioden</div>    
            <div class="cs-value">{{ $data.simulation_periods}}</div>
        </div>
        <div class="cs-entry">
            <div class="cs-key">Substrat</div>    
            <div class="cs-flex-wrap">
                <div class="cs-flex-one cs-flex-key">Zusammensetzung</div>    
                <div class="cs-flex-two cs-flex-value">{{ $data.substrate.ingredients}}</div>
            </div>
            <div class="cs-flex-wrap">
                <div class="cs-flex-one cs-flex-key">Substrathöhe</div>    
                <div class="cs-flex-two cs-flex-value">{{ $data.substrate.height}}</div>
            </div>
            <div class="cs-flex-wrap">
                <div class="cs-flex-one cs-flex-key">Feuchtigkeit</div>    
                <div class="cs-flex-two cs-flex-value">{{ $data.substrate.humidity}}</div>
            </div>
            <div class="cs-flex-wrap">
                <div class="cs-flex-one cs-flex-key">Bedeckung</div>    
                <div class="cs-flex-two cs-flex-value">{{ $data.substrate.cover}}</div>
            </div>
        </div>

        <div class="cs-entry">
            <div class="cs-key">Dekoration</div>    
            <div class="cs-value">{{ $data.decoration}}</div>
        </div>
        <div class="cs-entry">
            <div class="cs-key">Ernährung</div>    
            <div class="cs-value">{{ $data.nutrition}}</div>
        </div>
    </div>
</div>