{{ $data := .content | unmarshal  }}
{{range $data }}
    <div class="gallery-wrapper">
        <h3>{{.title | markdownify}}</h3>
        {{$title := .title}}
        <div class="gallery">
        {{ range $.page.Resources.Match .pattern }}
            {{$image := . }}
            {{$image := $image.Fit "400x400"}}
            {{$image := $image.Crop "400x400 Smart"}}
            <a href="{{.RelPermalink}}"><img src="{{ $image.RelPermalink }}" width="200" alt="{{$title}}"></a>
        {{end}}
        </div>
    </div>

{{end}}