{{ define "main" }}
<article class="markdown caresheets-genus-index">
    {{ partial "docs/post-meta" . }}
    <h1>Pflegeanleitungen für Arten der Gattung {{.Title}}</h1>

    <div class="genus-content-wrapper">
      <div class="genus-thumb-wrapper">
        <img src="../images/{{ .Param "thumb" }}" with="200" class="genus-thumb"/>
      </div>
      <div class="genus-content">{{- .Content -}}</div>
    </div>

    {{ range sort .Page.Pages }}
    {{ partial "caresheets/genus/section_species" . }}<br/>
    {{end}}
  
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
