{{ define "main" }}
<article class="markdown caresheet">
    {{ partial "docs/post-meta" . }}
    <h1>
        {{.Title}}
        {{if isset .Params "author" }}
        <small>Von: {{ delimit .Params.author ", " }} </small>
        {{end}}
    </h1>

    {{with .Page.Resources.Get "hero.md"}}
        <figure class="hero-figure">
            <img src="{{ .Param "src"}}" alt="{{.Param "alt"}}" class="hero-img" />
            <figcaption>
                <h4>{{.Param "alt" }}</h4>
                {{ with ( .Param "attr") }}<p>Foto &copy; {{ . | markdownify }}<p>{{ end }} 
            </figcaption>
        </figure>
    {{end}}

    {{with .Page.Resources.Get "data/hero.yml"}}
        {{ $data := . | unmarshal  }}
        <figure class="hero-figure">
            <img src="{{ $data.src }}" alt="{{$data.alt}}" class="hero-img" />
            <figcaption>
                <h4>{{ $data.alt }}</h4>
                {{ with ($data.attr) }}<p>Foto &copy; {{ . | markdownify }}<p>{{ end }} 
            </figcaption>
        </figure>
    {{end}}

    {{with .Page.Resources.Get "about.md"}}
        <h2>Über die Art</h2>
        {{ .Content }}
    {{end}}

    {{.Content}}

    {{with .Page.Resources.Get "data/about.yml"}}
        <h2>{{$.Page.Title}}</h2>
        {{partial "caresheets/about" .}}
    {{end}}

    {{with .Page.Resources.Get "data/caresheet.yml"}}
        <h2>Pflegeanleitung</h2>
        {{partial "caresheets/caresheet" .}}
    {{end}}

    {{$page := .Page }}
    {{with .Page.Resources.Get "data/galleries.yml"}}
        <h2>Bilder</h2>
        {{partial "caresheets/gallery" (dict "content" . "page" $page) }}
    {{end}}

    {{with .Page.Resources.Get "taxonomy.md"}}
        <h2>Taxonomie und Einordnung der Art</h2>
        {{.Content}}
    {{end}}

    {{with .Page.Resources.Get "trivia.md"}}
        <h2>Trivia</h2>
        {{.Content}}
    {{end}}


    {{with .Page.Resources.Get "data/references.yml"}}
        <h2>Referenzen und Einzelnachweise</h2>
        {{partial "caresheets/references" . }}
    {{end}}

</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}