{{ define "main" }}
<article class="markdown caresheet">
    {{ partial "docs/post-meta" . }}
    <h1>
        {{.Title}}
        {{if isset .Params "author" }}
        <small>Von: {{ delimit .Params.author ", " }} </small>
        {{end}}
    </h1>

    {{with .Page.Resources.Get "hero.md"}}
        <figure class="caresheet-hero">
            <img src="{{ .Param "src"}}" alt="{{.Param "alt"}}" class="hero-img" />
            <figcaption>
                <h4>{{.Param "alt" }}</h4>
                {{ with ( .Param "attr") }}<p>Foto &copy; {{ . | markdownify }}<p>{{ end }} 
            </figcaption>
        </figure>
    {{end}}

    {{with .Page.Resources.Get "data/hero.yml"}}
        {{ $data := . | unmarshal  }}
        <figure class="hero-figure">
            <img src="{{ $data.src }}" alt="{{$data.alt}}" class="hero-img" />
            <figcaption>
                <h4>{{ $data.alt }}</h4>
                {{ with ($data.attr) }}<p>Foto &copy; {{ . | markdownify }}<p>{{ end }} 
            </figcaption>
        </figure>
    {{end}}

    {{with .Page.Resources.Get "data/about.yml"}}
        <section class="about-data">
            <h2>Über die Art: {{$.Page.Title}}</h2>

            <div class="characteristics">
                {{partial "caresheets/caresheet/about" .}}
            </div>


            {{with $.Page.Resources.Get "about.md"}}
                <div class="charakteristics-wrapper">
                    <div class="about-text">{{ .Content }}</div>
                    {{with $.Param "feature_image"}}
                        <div class="feature_image">
                            {{$image := $.Resources.Get . }}
                            {{$image := $image.Fit "400x400"}}
                            <a href="{{.}}"><img src="{{ $image.RelPermalink }}" width="400" alt="{{$.Page.Title}}"></a>
                        </div>
                    {{end}}
                </div>

            {{end}}

        </section>
    {{end}}

    

    

    {{with .Page.Resources.Get "data/caresheet.yml"}}
        <section class="caresheet-data">
            <h2>Pflegeanleitung</h2>
            {{partial "caresheets/caresheet/caresheet" .}}
        </section>
    {{end}}

    {{with .Page.Resources.Get "caretips.md"}}
        <section class="about-text">
            <h2>Allgemeine Haltungshinweise</h2>
            {{ .Content }}
        </section>
    {{end}}

<!--
    {{with .Page.Resources.Get "habitat.md"}}
        <section class="habitat">
            <h2>Habitat</h2>
            {{.Content}}
        </section>
    {{end}}

    {{$page := .Page }}
    {{with .Page.Resources.Get "data/galleries.yml"}}
        <section class="galleries">
            <h2>Bilder</h2>
            {{partial "caresheets/caresheet/gallery" (dict "content" . "page" $page) }}
        </section>
    {{end}}

    {{with .Page.Resources.Get "taxonomy.md"}}
        <section class="taxonomy">
            <h2>Taxonomie und Einordnung der Art</h2>
            {{.Content}}
        </section>
    {{end}}

    {{with .Page.Resources.Get "trivia.md"}}
        <section class="trivia">
            <h2>Trivia</h2>
            {{.Content}}
        </section>
    {{end}}


    {{with .Page.Resources.Get "data/references.yml"}}
        <section class="references">
            <h2>Referenzen und Einzelnachweise</h2>
            {{partial "caresheets/caresheet/references" . }}
        </section>
    {{end}}
    -->
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}