{{ define "main" }}
<article class="markdown species-list">
  {{ partial "docs/post-meta" . }}

  {{- .Content -}}

  {{range sort .Params.distributions "name" }}
    <h2>{{.name}}</h2>
    {{$filter := .filter}}
    <p>
        {{range $.Site.Data.species }}
            {{ $distribution := index (index . "distribution") $filter}}
            {{if $distribution }}
                {{index . "name"}}<br/>
            {{ end }}
        {{end}}
    </p>
  {{end}}
 
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
