{{ define "main" }}
<article class="markdown species-list">
  {{ partial "docs/post-meta" . }}

  {{- .Content -}}

    <h2>Europa</h2>
    {{ range .Site.Data.species }}
        <!--{{.}}<br/>-->
        {{ $distribution := index (index . "distribution") "europe"}}
        {{if $distribution }}
            {{index . "name"}}<br/>
        {{ end }}
    {{end}}

    <h2>Asien</h2>
    {{ range .Site.Data.species }}
        <!--{{.}}<br/>-->
        {{ $distribution := index (index . "distribution") "asia"}}
        {{if $distribution }}
            {{index . "name"}}<br/>
        {{ end }}
    {{end}}

    <h2>Afrika</h2>
    {{ range .Site.Data.species }}
        <!--{{.}}<br/>-->
        {{ $distribution := index (index . "distribution") "africa"}}
        {{if $distribution }}
            {{index . "name"}}<br/>
        {{ end }}
    {{end}}

    <h2>Australien und Ozeanien </h2>
    {{ range .Site.Data.species }}
        <!--{{.}}<br/>-->
        {{ $distribution := index (index . "distribution") "ozeania"}}
        {{if $distribution }}
            {{index . "name"}}<br/>
        {{ end }}
    {{end}}

    <h2>Amerika</h2>
    {{ range .Site.Data.species }}
        <!--{{.}}<br/>-->
        {{ $distribution := index (index . "distribution") "america"}}
        {{if $distribution }}
            {{index . "name"}}<br/>
        {{ end }}
    {{end}}
 
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
