{{ define "main" }}
<article class="markdown">
  {{ partial "docs/post-meta" . }}

  {{- .Content -}}

  <h2>Beschriebene Arten</h2>
  <table class="species-list">
    <tr>
        <th>Name</th>
        <th>Aktueller Name</th>
        <th>Status</th>
    </tr>
  {{ range sort .Site.Data.scolopendra_species "name"  }}
    <tr class="{{ replace .status " " "-" | lower }}">
        <td>
            {{.name}}<br/>
            <small>({{.first_description}})</small>
        </td>
        <td>{{.current_name}}</td>
        <td>
            {{.status}}
            {{with .status_remark}}<br/><small>({{.}})</small>{{end}}
        </td>
    </tr>
  {{end}}
  </table>
  
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
