{{ define "main" }}
<article class="markdown taxonomy-genus">
  {{ partial "docs/post-meta" . }}

  {{$datadir := .Page.Param "datadir"}}
  {{$data := index .Site.Data.species $datadir}}

    {{- .Content -}}

    {{with .Page.Resources.Get "about.md"}}
      <section class="about-text">
          <h2>Über die Gattung {{$.Title}}</h2>
          {{ .Content }}
      </section>
    {{end}}

    <h2>Arten {{if $data}}<small>({{$data|len}})</small>{{end}}</h2>
    
    {{if $data}}
    <ul>
    {{range $data }}
        <li><a href="{{ index (split .name " ") 1 }}">{{.name}}</a> <small>({{.first_description}})</small></li>
    {{end}}
    </ul>
 
    {{else}}
        Bisher noch keine Arten erfasst.
    {{end}}
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
