{{ define "main" }}
<article class="markdown species-list">
  {{ partial "docs/post-meta" . }}

  {{- .Content -}}

  <h2>Beschriebene Arten</h2>
  {{ range sort .Site.Data.scolopendra_species_new "name"  }}
  <article class="species">
    <div class="species_header">
      <p class="species_name">{{.name}}</p>
      <p class="first_description">{{.first_description}}</p>
    </div>
    <div class="species_body">
      <div>Status: {{.status}} {{with .status_remark}}<small>({{.}}</small>){{end}}</div>
      {{with .sub_species}}
        <div>
        <span>Unterarten</span>
        {{range . }}
          <p class="synonym">{{.name}} <small>({{.first_description}})</small></p>
        {{end}}
        </div>
      {{end}}
      {{with .synonyms}}
        <div>
        <span>Synonyme</span>
        {{range . }}
          <p class="synonym">{{.name}} <small>({{.first_description}})</small></p>
        {{end}}
        </div>
      {{end}}
    </div>
    <div class="species_footer"></div>
  </article>
  {{end}}
  
  
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
