{{ define "main" }}
<article class="markdown">
  {{ partial "docs/post-meta" . }}

  {{$datafile := .Page.Param "datafile"}}
  {{$genus := lower (.Page.Param "genus")}}
  {{$data := index .Site.Data.species $genus $datafile }}
  {{$distribution := dict "asia" "Asien" "europe" "Europa" "america" "Amerika" "africa" "Africa" "ozeania" "Australien/Ozeanien"}}

  <h1>{{$data.name}} <small>({{$data.first_description}})</small></h1>

  {{- .Content -}}
  
  <h2>Taxonomie</h2>
  Klasse: {{ $data.taxonomy.class }}<br>
  Ordnung: {{ $data.taxonomy.order }}<br>
  Familie: {{ $data.taxonomy.family }}<br>
  Unterfamilie: {{ $data.taxonomy.sub_family }}<br>
  Gattung: {{ $data.taxonomy.genus }}<br>

  {{with $data.sub_species}}
    <h2>Unterarten</h2>
    {{range sort . "name"}}
    {{.name}} ({{.first_description}})<br/>
    {{end}}
  {{end}}

  {{with $data.variations}}
    <h2>Variationen</h2>
    {{range sort . "name"}}
    {{.name}} ({{.first_description}})<br/>
    {{end}}
  {{end}}

  {{with $data.distribution}}
    <h2>Verbreitung</h2>
    {{range $key, $value := . }}
    <strong>{{index $distribution $key}}</strong>: {{delimit (sort $value) ", "}}<br/>
    <br/>
    {{end}}
  {{end}}

  {{.Page.Resources}}
  {{with .Page.Resources.Get "data/references.yml"}}
    <section class="references">
        <h2>Referenzen und Einzelnachweise</h2>
        {{partial "caresheets/caresheet/references" . }}
    </section>
  {{end}}

  {{with $data.synonyms}}
    <h2>Synonyme</h2>
    {{range sort . "name"}}
    {{.name}} ({{.first_description}})<br/>
    {{end}}
  {{end}}
  
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
