{{ define "main" }}
<article class="markdown species-list">
  {{ partial "docs/post-meta" . }}

  {{- .Content -}}

  {{$genus := lower .Page.Params.genus}}
  {{$species := .Site.Data.species }}
  {{$genus_species := index $species $genus}}
  
  <h2>Beschriebene Arten</h2>
  {{ range sort $genus_species "name"  }}
  <article class="species">
    <div class="species_header">
      <p class="species_name"><a href="{{ index (split .name " ") 1 }}">{{.name}}</a></p>
      <p class="first_description">{{.first_description}}</p>
    </div>
    <div class="species_body">
    </div>
    <div class="species_footer"></div>
  </article>
  {{end}}
  
  
</article>
{{ end }}

{{ define "toc" }}
  {{ partial "docs/toc" . }}
{{ end }}
