
/***
    General
***/
.caresheet {
    .hero-figure {}

    .about-table {
        .key {
            font-weight: bold;
            font-size: 0.7em;
            border-bottom: solid 1px #EEE;  
            margin-bottom: 0.5em;
            color: #555;
        }
        .tradenames {
            list-style: none;
            padding: 0;
        }
        .value {
            padding-left: 1em;
        }
    }

    .caresheet-data {
        .section-title {
            font-size: 1.2em;
            //font-weight: bold;
            color: #555;
        }
    }
    .caresheet-table {
        .key {
            font-weight: bold;
            font-size: 0.7em;
            border-bottom: solid 1px #EEE;  
            margin-bottom: 0.5em;
            color: #555;
        }
        .value {
            padding-left: 1em;
        }
    }

    .galleries {
        .gallery-wrapper {
            .gallery {
                img {
                    transition: transform .2s; /* Animation */
                    &:hover {
                        transform: scale(1.2);
                    }
                }
                
            }
        }
    }
}



// Mobile 
@media screen and (max-width: $mobile-breakpoint) {
    .caresheet {
        .caresheet-hero {
            display: flex;
            flex-flow: column;
            width: 100%;
        
            .hero-img {
                width: 100%;
                margin: 0;
            }
        
            figcaption {
                background-color: #333;
                margin: 0 0 0 0;
                padding: 0.3em;
                width: 100%;        
                text-align: right;        
                color: #CCC;
                h4 {
                    font-size: 1em;
                }
                p {
                    padding: 0;
                    margin: 0;
                }
            }
        }

        blockquote.info {
            font-size: 0.8em;
        }
        

        .about-table {
            .about-table-row {
                margin-top: 2em;
            }
            .value {
                text-align: left;
            }
        }

        .caresheet-table {
            .section {
                margin-top: 2em;
            }
            .caresheet-table-row {
                margin-top: 1.5em;
            }
            margin-bottom: 1em;
            .value {
                text-align: left;
            }
        }

        .galleries {
            .gallery-wrapper {
                .gallery {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    align-content: space-between;
                    column-gap: 1em;
                    img {
                        width: 150px;
                    }
                }
            }
        }
    }
}

// Desktop
@media screen and (min-width: $container-max-width) {
    .caresheet {
        .caresheet-hero {
            display: flex;
            flex-flow: column;
            position: relative;
            width: 100%;
        
            .hero-img {
                width: 100%;
                margin: 0;
            }
        
            figcaption {
                background-color: rgba(0,0,0, 0.5);
                margin: 0 0 0 0;
                padding: 1em;
                
                position: absolute;
                bottom: 0;
                width: 100%;
        
                text-align: right;
        
                color: #CCC;
                h4 {
                    font-size: 2em;
                }
            }
        }

        .about-table {
            width: 100%;
            display: table;
            border-spacing: 0.5em;
            .about-table-row {
                display: table-row;
            }
            .about-table-col {
                display: table-cell;
                
            }
            .key {
                //color:#f00;
                text-align: right;
                width: 25%;
            }
        }

        .caresheet-table {
            width: 100%;
            display: table;
            border-spacing: 0.5em;
            .caresheet-table-row {
                display: table-row;
            }
            .caresheet-table-col {
                display: table-cell;
            }

            .key {
                //color:#f00;
                text-align: right;
                width: 25%;
            }
            
            margin-bottom: 1em;
        }
        
        .galleries {
            .gallery-wrapper {
                .gallery {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    align-content: space-between;
                    column-gap: 3em;
                    img {
                        width: 200px;
                    }
                }
            }
        }
    }
}