
<article class="species-wrapper">
    <div class="species-title">
        <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
    </div>

    <div class="species-content">
        <div class="species-thumb-wrapper">
            {{with .Param "thumb"}}
                <img src="{{$.Permalink}}/{{.}}" alt="{{$.Title}}" class="species-thumb"/>
            {{end}}
        </div>
        <div class="species-content">
            <span class="description">{{.Description|markdownify}}</span>
        </div>
    </div>
</article>


