figcaption {
    h4 {
        margin: 0 !important;
        font-size: 0.8em;
    }
    p {
        font-size: 0.8em;
    }
}

.small {
    font-size: 0.8em;    
}

.cs-key {
    font-weight: bold;
    font-size: 0.8em;
    border-bottom: solid 1px #EEE;  
    margin-bottom: 0.5em;
    color: #555;
}
.cs-flex-key {
    font-weight: bold;
    border-bottom: solid 1px #EEE;
    margin-left: 1em;
    color: #555;
    font-size: 0.8em;
}
.cs-value {
    margin-top: 0.3em;
    padding-left: 1em;
    margin-bottom: 1.2em;
}
.cs-flex-value {
    padding-left: 2em;
    margin-bottom: 1em;
}

.clearfix {
    display: block;
    clear: both;
}

@media screen and (min-width: $container-max-width) {
    .fig-right {
        float: right;
        padding-left: 1em;
        margin: 0 !important;

        &:after {
            content: "";
            clear: both;
        }
    }


    .fig-left {
        float: left;
        padding-right: 1.3em;
        margin: 0 !important;

        &:after {
            content: "";
            clear: both;
        }
    }

    .sexing-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .sexing-column {
        flex: 1 1;
    }

    .cs-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .cs-column {
        flex: 1 1;
    }

}

@media screen and (max-width: $mobile-breakpoint) {
    .fig-right {
        display: block;
        padding-left: 0;
        margin: 0 !important;

        img {
            width: 100%;
        }
    }

    .fig-left {
        display: block;
        padding-left: 0;
        margin: 0 !important;

        img {
            width: 100%;
        }
    }

    .sexing-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .sexing-column {
        flex-grow: 2;
    }

    .cs-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .cs-column {
        flex-grow: 2;
    }
}