figcaption {
    h4 {
        margin: 0 !important;
        font-size: 0.8em;
    }
    p {
        font-size: 0.8em;
    }
}

.small {
    font-size: 0.8em;    
}

.clearfix {
    display: block;
    clear: both;
}

@media screen and (min-width: $container-max-width) {
    .fig-right {
        float: right;
        padding-left: 1em;
        margin: 0 !important;

        &:after {
            content: "";
            clear: both;
        }
    }


    .fig-left {
        float: left;
        padding-right: 1.3em;
        margin: 0 !important;

        &:after {
            content: "";
            clear: both;
        }
    }

    .sexing-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .sexing-column {
        flex: 1 1;
    }

}

@media screen and (max-width: $mobile-breakpoint) {
    .fig-right {
        display: block;
        padding-left: 0;
        margin: 0 !important;

        img {
            width: 100%;
        }
    }

    .fig-left {
        display: block;
        padding-left: 0;
        margin: 0 !important;

        img {
            width: 100%;
        }
    }

    .sexing-wrap {
        flex-wrap: wrap;
        display: flex;
    }

    .sexing-column {
        flex-grow: 2;
    }

}