<div class="caresheet_section">
    <div class="section_header">
        <h2>Genus {{.name}}</h2>
    </div>

    <div class="section_footer">
        {{if isset . "more"}}
        <blockquote class="book-hint info">
            {{.more | markdownify}}        
        </blockquote>
        {{end}}
    </div>

    <div class="section_content">
        <img class="section_thumbnail" src="{{.thumbnail}}" width="200" height="200" />
        <ul class="species_list">
        {{range sort .species "name" }}
            <li class="species">
                <div class="species_title"><a href="{{.link}}">{{.name}}</a></div>
                <span class="description">{{.description}}</span>
                {{if isset . "variations" }}
                    <ul class="variations">
                        {{range .variations}}
                            <li><a href="{{.link}}">{{.name}}</a></li>
                        {{end }}
                    </ul>
                {{end}}
            </li>
        {{ end }}
        </ul>
    </div>

</div>