<blockquote class="book-hint good wa-wrapper">
    <div class="wa-image">
        <img src="/img/whatsapp.png" alt="WhatsApp-Logo" width="60" height="60"/>
    </div>
    <div class="wa-content">
        Wenn du Austausch mit anderen Skolopender-Enthusiasten suchst, ist vielleicht unsere WhatsApp-Gruppe was für dich!
        <ul>
            <li><a href="https://chat.whatsapp.com/Iuaha2CLQHo0KUhx9DAVos" target="_blank">Deutschsprachige "Hundertfüßer Gruppe"</a></li>
            <li><a href="https://chat.whatsapp.com/Ip1MuQEs4IF4heItn3cJKf" target="_blank">Englischsprachige "Centipede breeders international"</a></li>
        </ul>
    </div>
  
</blockquote>

